body {
    background-color: #01001f;
    color: #fff;
    margin: 2% 10%;
}

#profile-pic {
    width: 25%;
    border-radius: 10%;
    margin: 3% auto;
    display: block;
}

h1, h2 {
    color: #ff7300;
}

p {
    width: 90%;
    margin: auto;
    font-size: 1.5em;
}

#projects {
    margin: 40px auto;
    font-size: 1.5em;
}

.list {
    list-style: none;
    text-align: center;
    /* display: inline-block; */
    padding: 0;
    width: 100%;
}

a:link {
    color: #be5600;
}

a:visited {
    color: #ffb374;
}

a:hover {
    color: #883d00;
}

a:active {
    color: #ff7300;
}

.github-repo {
    text-align: center;
    font-size: 1.5em;
    margin: 3% auto;
    display: block;
}

.github-repo h2 {
    text-align: left;
}

hr {
    background-color: #ff7300;
    height: 1px;
    border: none;
    margin: 2rem 0;
}